
body {
 font-family: 'Arial', sans-serif;
}

.menu {
  text-transform: uppercase;
  margin-bottom:2%;

}
.menu:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}

path:hover{
    fill:red;
    stroke:black;
}


rect:hover{
    fill:red;
    stroke:blue;
}

.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}

.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
